<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Chart"></Label>
</ActionBar>

<RadCartesianChart tkExampleTitle tkToggleNavButton>
  <RadLegendView tkCartesianLegend position="Top" title="Series type" height="150" enableSelection="true"></RadLegendView>
  <Trackball tkCartesianTrackball></Trackball>
  <DateTimeCategoricalAxis tkCartesianHorizontalAxis dateFormat="d-MMM"></DateTimeCategoricalAxis>
  <LinearAxis tkCartesianVerticalAxis></LinearAxis>

  <SplineSeries tkCartesianSeries [items]="data" categoryProperty="createdAt" valueProperty="mood" legendTitle="Mood"></SplineSeries>
  <SplineSeries tkCartesianSeries [items]="data" categoryProperty="createdAt" valueProperty="sleep" legendTitle="Sleep"></SplineSeries>
  <SplineSeries tkCartesianSeries [items]="data" categoryProperty="createdAt" valueProperty="coffee" legendTitle="Coffee"></SplineSeries>
  <SplineSeries tkCartesianSeries [items]="data" categoryProperty="createdAt" valueProperty="suger" legendTitle="Sugar"></SplineSeries>
</RadCartesianChart>