<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Statistics"></Label>
  <ActionItem (tap)="refreshChart()"
      ios.systemIcon="13" ios.position="right"
      android.systemIcon="ic_menu_refresh" android.position="actionBar"></ActionItem>
</ActionBar>

<Page class="page" style="margin-left: 10px; margin-right: 10px;">
  <ActivityIndicator row="1" busy="true" width="100" height="100" class="activity-indicator" *ngIf="isLoading"></ActivityIndicator>
  <StackLayout *ngIf="!isLoading">
    <RadCartesianChart tkExampleTitle tkToggleNavButton row="0" height="200" width="auto">
      <Trackball tkCartesianTrackball snapMode="AllClosestPoints" showIntersectionPoints="true"
        (trackBallContentRequested)="onTrackBallContentRequested($event)"></Trackball>
      <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
      <LinearAxis tkCartesianVerticalAxis></LinearAxis>
      <SplineSeries tkCartesianSeries [items]="avg_data" categoryProperty="date" valueProperty="avgMood" legendTitle="Mood" strokeColor="#55B3E7"></SplineSeries>
      <SplineSeries tkCartesianSeries [items]="avg_data" categoryProperty="date" valueProperty="avgSleep" legendTitle="Sleep" strokeColor="#9F71BC"></SplineSeries>
      <SplineSeries tkCartesianSeries [items]="avg_data" categoryProperty="date" valueProperty="avgCoffee" legendTitle="Coffee" strokeColor="#9FC61B"></SplineSeries>
      <SplineSeries tkCartesianSeries [items]="avg_data" categoryProperty="date" valueProperty="avgSuger" legendTitle="Sugar" strokeColor="#F1BB35"></SplineSeries>
      <SplineSeries tkCartesianSeries [items]="avg_data" categoryProperty="date" valueProperty="avgActivity" legendTitle="Activity" strokeColor="#FB3F3E"></SplineSeries>
    </RadCartesianChart>
    <FlexboxLayout justifyContent="space-between">
      <StackLayout orientation="horizontal">
          <ContentView width="15px" height="15px" style="margin-right: 10px; background-color: #55B3E7;" ></ContentView>
          <Label text="Mood"></Label>
      </StackLayout>
      <StackLayout orientation="horizontal">
          <ContentView width="15px" height="15px" style="margin-right: 10px; background-color: #9F71BC;" ></ContentView>
        <Label text="Sleep"></Label>
      </StackLayout>
      <StackLayout orientation="horizontal">
          <ContentView width="15px" height="15px" style="margin-right: 10px; background-color: #9FC61B;" ></ContentView>
        <Label text="Coffee"></Label>
      </StackLayout>
      <StackLayout orientation="horizontal">
          <ContentView width="15px" height="15px" style="margin-right: 10px; background-color: #F1BB35;" ></ContentView>
        <Label text="Sugar"></Label>
      </StackLayout>
      <StackLayout orientation="horizontal">
          <ContentView width="15px" height="15px" style="margin-right: 10px; background-color: #FB3F3E;" ></ContentView>
        <Label text="Activity"></Label>
      </StackLayout>
    </FlexboxLayout>
    <Label id="mood-label" style="font-size: 20px;" text="Here is the pass week:"></Label>
    <ListView class="list-group" [items]="feeling_data" >
      <ng-template let-fd="item">
        <GridLayout class="list-group-item" rows="auto, *" columns="55, *, 90">
          <Image row="0" col="0" [ngClass]="setMoodClass(fd.mood)" class="thumb img-circle"></Image>
          <StackLayout row="0" col="1">
            <Label [text]="fd.createdAt | date:'d/M/yy, h:mm a'" class="list-group-item-text"></Label>
            <FlexboxLayout>
              <Label class="fa" style="margin-right: 20px;" text="&#xf041;"></Label>
              <Label [text]="fd.location" class="list-group-item-text"></Label>
            </FlexboxLayout>
            <Label [text]="fd.description" class="list-group-item-text" textWrap="true"></Label>
          </StackLayout>
          <GridLayout row="0" col="2" rows="auto, auto" columns="*,*">
            <FlexboxLayout row="0" col="0" justifyContent="space-between" style="margin-right: 15px;">
                <Label class="fa" text="&#xf1b3;" color="#F1BB35"></Label>
                <Label [text]="fd.suger"></Label>
            </FlexboxLayout>
            <FlexboxLayout row="0" col="1" justifyContent="space-between">
                <Label class="fa" text="&#xf236;" color="#9F71BC"></Label>
                <Label [text]="fd.sleep"></Label>    
            </FlexboxLayout>
            <FlexboxLayout row="1" col="0" justifyContent="space-between" style="margin-right: 15px;">
                <Label class="fas" text="&#xf70c;" color="#FB3F3E"></Label>
                <Label [text]="fd.activity"></Label>    
            </FlexboxLayout>
            <FlexboxLayout row="1" col="1" justifyContent="space-between">
                <Label class="fa" text="&#xf0f4;" color="#9FC61B"></Label>
                <Label [text]="fd.coffee"></Label>    
            </FlexboxLayout>
          </GridLayout>
        </GridLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</Page>