<TabView androidTabsPosition="bottom">

    <page-router-outlet
        *tabItem="{title: 'Notifications', iconSource: getIconSource('notification')}"
        name="notificationTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Mood', iconSource: getIconSource('chart')}"
        name="chartTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Home', iconSource: getIconSource('home')}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Profile', iconSource: getIconSource('profile')}"
        name="profileTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Settings', iconSource: getIconSource('settings')}"
        name="settingsTab">
    </page-router-outlet>

</TabView>