<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="scroll-view" orientation="vertical">
        <Label class="title-text" text="Hi,"></Label>
        <Label class="title-text" text="Jacob"></Label>

        <Label id="mood-label" text="Tell us how you're feeling:"></Label>
        <StackLayout id="mood-selector" orientation="horizontal">
            <Button class="button-mood button-mood1" (tap)="onMoodClick(1)"></Button>
            <Button class="button-mood button-mood2" (tap)="onMoodClick(2)"></Button>
            <Button class="button-mood button-mood3" (tap)="onMoodClick(3)"></Button>
            <Button class="button-mood button-mood4" (tap)="onMoodClick(4)"></Button>
            <Button class="button-mood button-mood5" (tap)="onMoodClick(5)"></Button>
        </StackLayout>
        <StackLayout orientation="vertical">
            <Label class="fa loc-text" text="&#xf041; SIT@RP"></Label>
            <TextView borderColor="#DEDEDE" borderWidth="2" height="100" class="textarea" [(ngModel)]="description" hint="What's on your mind right now?" class="input input-border"></TextView>
            <StackLayout *ngIf="showMore">
                <StackLayout orientation="horizontal">
                    <Label text="Sleep: "></Label><Label [text]="sleepVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="sleepVal" minValue="0" maxValue="5"></Slider>
                <StackLayout orientation="horizontal">
                    <Label text="Sugar: "></Label><Label [text]="sugerVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="sugerVal" minValue="0" maxValue="5"></Slider>
                <StackLayout orientation="horizontal">
                    <Label text="Coffee: "></Label><Label [text]="coffeeVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="coffeeVal" minValue="0" maxValue="5"></Slider>
                <StackLayout orientation="horizontal">
                    <Label text="Activity: "></Label><Label [text]="activityVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="activityVal" minValue="0" maxValue="5"></Slider>
            </StackLayout>
            <FlexboxLayout justifyContent="space-between">
                <Label *ngIf="!showMore" style="color: red;" text="Show More" (tap)="openShowMore()"></Label>
                <Label></Label>
                <Button width="80" class="btn btn-primary btn-active" id="submit_btn" text="Save" (tap)="submit($event)"></Button>
            </FlexboxLayout>
        </StackLayout>
        <Label class="separator" text="⏤"></Label>
        <Label id="friend-label" text="How your friends have been doing:"></Label>
        <GridLayout rows="*" height="700px">
            <RadCartesianChart row="0">
                <CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
                <LinearAxis hidden="true" lineHidden="true" tkCartesianHorizontalAxis></LinearAxis>
                <BarSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount"></BarSeries>
            </RadCartesianChart>
        </GridLayout>
    </StackLayout>
</ScrollView>