<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<Page class="page">
<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="scroll-view" orientation="vertical">
        <Label class="h1 title-text" text="Hi,"></Label>
        <Label class="h1 title-text" [text]="username"></Label>

        <Label id="mood-label" text="Tell us how you're feeling:"></Label>
        <StackLayout id="mood-selector" orientation="horizontal">
            <Button class="button-mood button-mood1" [class.button-mood1-dark]="button1_dark" (tap)="onMoodClick(1)"></Button>
            <Button class="button-mood button-mood2" [class.button-mood2-dark]="button2_dark" (tap)="onMoodClick(2)"></Button>
            <Button class="button-mood button-mood3" [class.button-mood3-dark]="button3_dark" (tap)="onMoodClick(3)"></Button>
            <Button class="button-mood button-mood4" [class.button-mood4-dark]="button4_dark" (tap)="onMoodClick(4)"></Button>
            <Button class="button-mood button-mood5" [class.button-mood5-dark]="button5_dark" (tap)="onMoodClick(5)"></Button>
        </StackLayout>
        <StackLayout orientation="vertical">
            <Label class="fa loc-text" text="&#xf041; SIT@RP"></Label>
            <TextView #tv editable="false" (tap)="onTVTap($event)" id="textview" #textview borderColor="#DEDEDE" focus="false" text="" borderWidth="2" height="100" class="textarea" [(ngModel)]="description" hint="What's on your mind right now?" class="input input-border"></TextView>
            <StackLayout *ngIf="showMore">
                <StackLayout orientation="horizontal">
                    <Label text="Sleep: "></Label><Label [text]="sleepVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="sleepVal" minValue="0" maxValue="5" class="slider"></Slider>
                <StackLayout orientation="horizontal">
                    <Label text="Sugar: "></Label><Label [text]="sugerVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="sugerVal" minValue="0" maxValue="5" class="slider"></Slider>
                <StackLayout orientation="horizontal">
                    <Label text="Coffee: "></Label><Label [text]="coffeeVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="coffeeVal" minValue="0" maxValue="5" class="slider"></Slider>
                <StackLayout orientation="horizontal">
                    <Label text="Activity: "></Label><Label [text]="activityVal"></Label>
                </StackLayout>
                <Slider [(ngModel)]="activityVal" minValue="0" maxValue="5" class="slider"></Slider>
            </StackLayout>
            <FlexboxLayout justifyContent="space-between">
                <Label *ngIf="!showMore" style="color: red;" text="Show More" (tap)="openShowMore()"></Label>
                <Label></Label>
                <Button width="80" class="btn btn-primary btn-rounded-sm btn-active" id="submit_btn" text="Save" (tap)="submit($event)"></Button>
            </FlexboxLayout>
        </StackLayout>


        <StackLayout class="hr-light m-10"></StackLayout>


        <Label id="friend-label" text="How your friends have been doing:"></Label>
        <GridLayout rows="*" height="700px">
            <RadCartesianChart row="0">
                <CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
                <LinearAxis hidden="true" lineHidden="true" tkCartesianHorizontalAxis></LinearAxis>
                <BarSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount"></BarSeries>
            </RadCartesianChart>
        </GridLayout>
    </StackLayout>
</ScrollView>
</Page>