<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>
<!-- 
<StackLayout class="page page-content">
  <Label class="title-text" text="Hi,"></Label>
  <Label class="title-text" text="Jacob"></Label>
  <Label text="Tell us how you're feeling:"></Label>
  <StackLayout orientation="horizontal">
      <Button class="button-mood button-mood1"></Button>
      <Button class="button-mood button-mood2"></Button>
      <Button class="button-mood button-mood3"></Button>
      <Button class="button-mood button-mood4"></Button>
      <Button class="button-mood button-mood5"></Button>
      <Button style="width:75;height:75;color:white;border-radius:100;border-width:2;" ></Button>
      <Button style="width:75;height:75;color:white;border-radius:100;border-width:2;" ></Button>
      <Button style="width:75;height:75;color:white;border-radius:100;border-width:2;" ></Button>
      <Button style="width:75;height:75;color:white;border-radius:100;border-width:2;" ></Button>
      <Button style="width:75;height:75;color:white;border-radius:100;border-width:2;" ></Button>
  </StackLayout>
</StackLayout> -->

<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
    <StackLayout class="scroll-view" orientation="vertical">
        <Label class="title-text" text="Hi,"></Label>
        <Label class="title-text" text="Jacob"></Label>

        <Label id="mood-label" text="Tell us how you're feeling:"></Label>
        <StackLayout id="mood-selector" orientation="horizontal">
            <Button class="button-mood button-mood1"></Button>
            <Button class="button-mood button-mood2"></Button>
            <Button class="button-mood button-mood3"></Button>
            <Button class="button-mood button-mood4"></Button>
            <Button class="button-mood button-mood5"></Button>
        </StackLayout>
        <StackLayout orientation="vertical">
            <Label class="fa loc-text" text="&#xf041; SIT@RP"></Label>
            <TextView borderColor="#DEDEDE" borderWidth="2" height="100" class="textarea" [(ngModel)]="tvtext" hint="What's on your mind right now?" class="input input-border"></TextView>
        </StackLayout>


        <Label class="separator" text="⏤"></Label>
        <Label id="friend-label" text="How your friends have been doing:"></Label>

        <GridLayout rows="*" height="700px">
            <RadCartesianChart row="0">
                <CategoricalAxis tkCartesianVerticalAxis></CategoricalAxis>
                <LinearAxis hidden="true" lineHidden="true" tkCartesianHorizontalAxis></LinearAxis>
                <BarSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount"></BarSeries>
            </RadCartesianChart>
        </GridLayout>
    </StackLayout>
</ScrollView>